<script src="scripts/partials/focused.js"></script> {{#if focused}}
<button class="focus-off-click" onclick="unfocusGif('{{focused.id}}')"></button>
<div class="focused col-sm-12 col-md-10 col-lg-9 col-xl-8">
  <h1 class="focused-title">{{focused.title}}</h1>
  <img class="focused-loading" src="images/loading.gif">
  <a href="{{focused.images.original.url}}" target="_blank">
    <img class="focused-image animate" src="{{focused.images.original.url}}">
  </a>
  <i class="material-icons gif-favorite{{favorited focused.id}} animate" onclick="toggleFavorite({{json focused}})">star</i>
  <ul class="focused-info">
    <li>rating: {{stringify focused.rating}}</li>
    {{#if focused.source_tld}}
    <li>source:
      <a target="_blank" href="{{focused.source}}">{{stringify focused.source_tld}}</a>
    </li>
    {{else}}
    <li>source: N/A</li>
    {{/if}}
    <li>username: {{stringify focused.username}}</li>
    <li>upload date: {{formatDate focused.import_datetime}}</li>
  </ul>
</div>
{{/if}}