{{#if focused}}
<button class="focus-off-click" onclick="unfocusGif('{{focused.id}}')"></button>
<div class="focused col-sm-12 col-md-10 col-lg-9 col-xl-8">
  <h1 class="focused-title">{{focused.title}}</h1>
  <img class="focused-loading" src="images/loading.gif">
  <img class="focused-image animate" src="{{focused.images.original.url}}">
  <ul class="focused-info">
    <li>rating: {{stringify focused.rating}}</li>
    {{#if focused.source_tld}}
    <li>source:
      <a target="_blank" href="{{focused.source}}">{{stringify focused.source_tld}}</a>
    </li>
    {{else}}
    <li>source: N/A</li>
    {{/if}}
    <li>username: {{stringify focused.username}}</li>
    <li>upload date: {{formatDate focused.import_datetime}}</li>
  </ul>
  <div class="focused-controls">
    <i class="material-icons gif-favorite{{favorited focused.id}} animate" onclick="toggleFavorite({{json focused}})">star</i>
    <a href="{{focused.images.original.url}}" target="_blank" download="notJif_{{focused.id}}">
      <i class="material-icons animate">save_alt</i>
    </a>
    <div class="fb-share-button" data-href="{{focused.images.original.url}}" data-layout="button" data-size="large" data-mobile-iframe="true">
      <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Ffacebook.com%2F&amp;src=sdkpreparse"
        class="fb-xfbml-parse-ignore">Share</a>
    </div>
  </div>
</div>
{{/if}}

<script src="scripts/partials/focused.js"></script> 