<nav class="navbar header-top fixed-top navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/">
        <div class="highlight-bg hl{{highlight}} bg"></div>
        <div class="white-bg animate"></div>
        <img src="images/logo.gif">
    </a>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="nav navbar-nav">
            <li>
                <a class="nav-btn hl{{highlight}} hvr" href="/favorites">favorites</a>
            </li>
            <li>
                <span class="nav-btn dropdown-toggle hl{{highlight}} hvr" data-toggle="dropdown">categories
                    <b class="caret"></b>
                </span>
                <ul class="dropdown-menu multi-level">
                    {{#each catList}} {{#if this.name}}
                    <li class="dropdown-submenu">
                        <a href="/search?term={{this.name}}&page=0" class="dropdown-toggle hl{{highlight}} hvr" data-toggle="dropdown">{{this.name}}</a>
                        <ul class="dropdown-menu">
                            {{#each this.array}} {{#if this.name}}
                            <li class="dropdown-submenu">
                                <a href="/search?term={{this.name}}&page=0" class="dropdown-toggle hl{{highlight}} hvr" data-toggle="dropdown">{{this.name}}</a>
                                <ul class="dropdown-menu">
                                    {{#each this.array}}
                                    <li>
                                        <a href="/search?term={{this}}&page=0">{{this}}</a>
                                    </li>
                                    {{/each}}
                                </ul>
                            </li>
                            {{else}}
                            <li>
                                <a class="hl{{highlight}} hvr" href="/search?term={{this}}&page=0">{{this}}</a>
                            </li>
                            {{/if}} {{/each}}
                        </ul>
                    </li>
                    {{else}}
                    <li>
                        <a class="hl{{highlight}} hvr" href="/search?term={{this}}&page=0">{{this}}</a>
                    </li>
                    {{/if}} {{/each}}
                </ul>
            </li>
        </ul>
    </div>
    <div class="nav-search {{navAnimState}}">
        {{>search}}
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>