<script src="scripts/results.js"></script>

<div class="container">
  {{#each gifs}}
  <div class="gif-result animate" onclick="focusGif('{{this.id}}')">
    <img class="gif-image animate" src="{{this.images.fixed_height.url}}">
    <div class="gif-info animate">
      <div class="gif-title">
        <h3>{{this.title}}</h3>
      </div>
      <i class="material-icons gif-favorite {{favorited this.id}} animate" onclick="toggleFavorite({{json this}})">star</i>
    </div>
  </div>
  {{/each}}
</div>

{{#if focused}}
<div class="gif-off-click" onclick="unfocusGif('{{this.id}}')"></div>
<div class="gif-focused col-sm-12 col-md-10 col-lg-9 col-xl-8">
  <img class="gif-image animate" src="{{focused.images.480w_still.url}}">
</div>
{{/if}}