<script>
  const curPage = {{ curPage }};
  const nextPageAvail = {{ navigation.forward }};
  const prevPageAvail = {{ navigation.back }};
  const isFocused = {{ isFocused focused }};
</script>

<button class="page-btn prev animate{{disabled navigation.back}}" onclick="changePage(-1)">
  <i class="material-icons animate">chevron_left</i>
</button>
<button class="page-btn next animate{{disabled navigation.forward}}" onclick="changePage(1)">
  <i class="material-icons animate">chevron_right</i>
</button>

<div class="container animate">
  {{#each gifs}}
  <div class="gif-result image-load lg animate">
    <img class="gif-image animate" src="{{this.images.fixed_height.url}}">
    <div class="gif-image static image-load animate" style="height: {{this.images.fixed_height.height}}px; width: {{this.images.fixed_height.width}}px;">
      <img src="{{this.images.fixed_height_small_still.url}}">
    </div>
    <div class="gif-hover animate">
      <img class="gif-hover-bg top" src="images/bgfade.png">
      <img class="gif-hover-bg" src="images/bgfade.png">
      <div class="gif-title{{scrollTitle this}} hl{{highlight}} hvr animate" onclick="focusGif('{{this.id}}')">
        <h3>{{stringify this.title}}</h3>
      </div>
      <a href="{{this.images.original.url}}" target="_blank">
        <i class="material-icons animate">aspect_ratio</i>
      </a>
    </div>
    <div class="gif-favorite{{favorited this.id}} animate" onclick="toggleFavorite({{json this}})">
      <i class="material-icons animate">star</i>
    </div>
  </div>
  {{/each}}
</div>

<div class="image-loader">
  {{#each nextPageGifs}}
  <img src="{{this.images.fixed_height_small_still.url}}"> {{/each}}
</div>

<script src="scripts/results.js"></script>